<h1>SRE-U Self Assessment</h1>
<form action='/solution' method='POST'>
<!--<form action='/' method='POST'>-->
    <ol>
        {% for i in q %}
            <li>{{i}}</li>
            {% for j in o[i] %}
                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
                <br>
                <!--
                {% if j== o[i][0] %}
                Correct answer
                {% else %}
                Incorrect answer
                {% endif %}-->
            {% endfor %}
            <br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit" />
    </ol>
</form>