<h1>SRE-U Self Assessment</h1>
<form method='POST'>
    <ol>
        {% for i in q %}
            <li>{{i}}</li>
            {% for j in o[i] %}
                <input type='radio' value='{{j}}' name='{{i}}' />{{j}}
                <br>
            {% endfor %}
            {% for j in o[i] %}
                {% if j== o[i][0] %}
                    Correct answer: {{j}}
                {% else %}
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </ol>
    <!--
    {% for i in q %}
        <li></li>
        {% for j in o[i] %}
            {% if j== o[i][0] %}
            Correct answer
            {% else %}
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}-->
    <!--<input type="submit" value="Submit" />-->
</form>